body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e3f2fd;
  margin: 20px;
}

h1, h2 {
  text-align: center;
}

.card {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 8px;
  background-color: #fff;
  max-width: 300px;
}

.card-title {
  font-weight: 600;
  font-size: 2em;
  padding-bottom: 5px;
}

.card-text {
  font-weight: 400;
  font-size: 1.5em;
}

.card img {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}
